In [13]:
import json
import pandas as pd

In [76]:
df_origin = pd.read_json('data/adkami-01-01-2023.json', encoding='utf8')

In [128]:
#genre : 1 = 'En train de regarder', 2 = 'A voir', 3 = 'Terminé', 4 = 'Abandonné', 5 = 'En pause'
#genre_anime : 1 = 'Shonen', 2 = 'Shojo', 3 = 'Seinen', 4 = 'Josei', 5 = 'H'
#genre : ?

In [154]:
dico_genre_anime = {
    1 : 'Shonen',
    2 : 'Shojo',
    3 : 'Seinen',
    4 : 'Josei'
}

In [172]:
df_watched = df_origin[df_origin['genre']==3]
df_anime = df_watched[df_watched['type']==0]

In [173]:
pd.options.mode.chained_assignment = None
df_anime['titre'] = ['Code Geass: Hangyaku no Lelouch film' if x == 1321964 else y for x,y in zip(df_anime['id'],df_anime['titre'])]

In [174]:
df_anime['Genre anime libellé'] = df_anime['genre_anime'].map(dico_genre_anime)

In [175]:
df_kept = df_anime[['id','titre','Genre anime libellé','total','note','note_adk']]
df_kept.columns = ['ID','Titre','Genre anime','Episode','Note','Note ADK']

In [176]:
df_kept.head()

         ID                   Titre Genre anime  Episode  Note  Note ADK
56   877759                  11eyes      Seinen       12     7   6.19420
57  1148206  30-sai no hoken taiiku      Shonen       12     7   6.75309
58  1148474    5-toubun no Hanayome      Shonen       24     9   8.20643
59  1708788                      86      Seinen       23    10   8.75227
60  1529252                 91 Days      Seinen       13     9   8.32329

In [180]:
df_kept['Titre'].to_excel('data/title.xlsx',index=False)

In [183]:
df_genre = pd.read_excel('data/title genre.xlsx',sheet_name='data')

In [187]:
df_genre.head()

,Titre,Action,Amitié,Aventure,Combat,Comédie,Contes & Récits,Cyber & Mecha,Dark Fantasy,Drame,...,Shônen-Ai,Sport,Surnaturel,Survival Game,Thriller,Tokusatsu,Tranche de vie,Triangle Amoureux,Yaoi,Yuri
0,11eyes,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30-sai no hoken taiiku,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5-toubun no Hanayome,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,86,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91 Days,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
genres = list(df_genre.columns)[1:]

In [190]:
for genre in genres:
    df_genre[genre] = [1 if x == 1.0 else 0 for x in df_genre[genre]]

In [191]:
df = pd.merge(df_kept,df_genre,how='inner',on='Titre')

In [192]:
df

,ID,Titre,Genre anime,Episode,Note,Note ADK,Action,Amitié,Aventure,Combat,...,Shônen-Ai,Sport,Surnaturel,Survival Game,Thriller,Tokusatsu,Tranche de vie,Triangle Amoureux,Yaoi,Yuri
0,877759,11eyes,Seinen,12,7,6.19420,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1148206,30-sai no hoken taiiku,Shonen,12,7,6.75309,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1148474,5-toubun no Hanayome,Shonen,24,9,8.20643,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1708788,86,Seinen,23,10,8.75227,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1529252,91 Days,Seinen,13,9,8.32329,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,1148456,Fate/Zero,Shonen,25,10,8.63896,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0
122,1148457,Final Approach,Shojo,13,7,6.48000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
123,1148458,Fortune Arterial : Akai Yakusoku​,Shonen,12,8,6.96694,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
124,1148460,Fullmetal Alchemist,Shonen,51,8,8.26738,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
125,1148461,Fullmetal Alchemist : Brotherhood,Shonen,64,10,9.23294,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0